1 RT_MANIFEST "app.manifest"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "GALIH RIDHO UTOMO"
            VALUE "FileDescription", "Dungeon Game - Strategic AI Adventure"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "DungeonGame"
            VALUE "LegalCopyright", "Copyright © 2025 GALIH RIDHO UTOMO. All rights reserved."
            VALUE "OriginalFilename", "DungeonGame.exe"
            VALUE "ProductName", "Dungeon Game"
            VALUE "ProductVersion", "1.0.0.0"
            VALUE "Publisher", "GALIH RIDHO UTOMO"
            VALUE "PublisherDisplayName", "GALIH RIDHO UTOMO"
            VALUE "ApplicationPublisher", "GALIH RIDHO UTOMO"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
